body{
  background-color: darkgoldenrod;
  text-align: center;
}

.button{
  background-color: darkgoldenrod;
  cursor: pointer; 
}

.button:hover{
  background-color: burlywood;
}

.play-again{
  background-color: black;
  border-radius: 100px;
  border: white, 50px;
  color: white;
  cursor: pointer;
}

.play-again:hover{
  background-color: burlywood;
}

#game-images{
  padding-bottom: 50px;
}

